@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Pangolin&family=Passion+One:wght@400;700;900&display=swap');
html, html body{
    overflow-x: hidden;
}
  
@font-face {
    font-family: 'Helsinki';
    src: url('../fonts/helsinki.ttf');
    src: local('☺'),  
         url('../fonts/helsinki.ttf') format('truetype'), 
}

::-webkit-scrollbar {
    width: 8px;
}
div::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #F5CC66;
    border-radius: 20px;
}
div::-webkit-scrollbar-thumb {
    background: #068E3D;
}
  
body {
    font-family: "Pangolin", cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background-color: #068E3D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-family: 'Helsinki';
};

h2{
    @include font-80
}
p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    outline: none;
    @include transition;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #f3f3f3;
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
   max-width: 1290px;
}

.base {
    &-btn {
        font-family: "Passion One", sans-serif;
        display: inline-block;
        border: 1px solid $primary;
        border-radius: 5px;
        padding: 23px 48px;
        @include font-18;
        @include sm {
            font-size: 18px;
        }
        &:hover {
            background-color: transparent;
            color: $primary;
        }
    }
}
