.footer{
    &-area{
        position: relative;
        z-index: 1;
        padding-bottom: 55px;
        overflow-y: hidden;
        .section-title{
            margin-top: 100px;
            margin-bottom: 12%;
            @include xxxl{
                margin-top: 6%;
                margin-bottom: 14%;
            }
            @include xxl{
                margin-top: 4%;
                margin-bottom: 8%;
            }
            @include xl{
                margin-top: 4%;
                margin-bottom: 8%;
            }
            @include lg{
                margin-top: 4%;
                margin-bottom: 9.5%;
            }
            @include md{
                margin-top: 4%;
                margin-bottom: 9%;
            }
            @include sm{
                margin-top: 4%;
                margin-bottom: 8%;
            }
            @include ssm{
                margin-top: 3%;
                margin-bottom: 8%;
            }
            h2{
                @include sm{
                    font-size: 35px;
                }
                @include ssm{
                    font-size: 28px;
                }
            }
        }
        .socials {
            @include mmd{
                justify-content: center;
            }
            gap: 20px;
            a {
                width: 73px;
                height: 73px;
                border-radius: 73px;
                border: 3px solid #AD5230;
                background: #068E3D;
                font-size: 35px;
                &:hover{
                    border-color: $white;
                }
    
                @include lg{
                    width: 55px;
                    height: 55px;
                    font-size: 25px;
                }
                @include mmd{
                    width: 55px;
                    height: 55px;
                    font-size: 25px;
                }
                @include sm{
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                }
            }
        }
        .btns{
            margin-top: 2%;
            .boxed-btn{
              margin: 0 15px;
              padding: 19px 48px;
              @include lg{
                padding:8px 25px;
                font-size: 20px;
                font-weight: 400;
              }
              @include mmd{
                padding:8px 25px;
              }
            }
        }
        .footerBg{
            position: absolute;
            z-index: -1;
            width: 100%;
        }
    }
    &-content{
        max-width: 1030px;
        margin-inline:auto;
        margin-top: 33%;
        @include xxl{
            margin-top: 30%;
        }
        @include sm{
            width: 90%;
            margin-inline:auto;
        }
        @include ssm{
            width: 100%;
        }
        .logo{
           img{
                max-width: 380px;
                margin-bottom: 30px;
                @include sm{
                    max-width: 270px
                }
                @include ssm{
                    margin-bottom: 20px;
                    max-width: 250px
                }
           }
        }
        p{
            @include font-24;
            line-height: 1.6;
            br{
                @include mmd{
                    display: none;
                }
            }
        }
        .copyright{
            margin-top: 74px;
            @include sm{
                margin-top: 30px;
            }
        }
    }
}

@media(min-width:1500px) and (max-width:1600px){
    .footer-area{
      .section-title{
          margin-top: 4%;
          margin-bottom: 8%;
      }
    }  
  }
  @media(min-width:1600px) and (max-width:1700px){
      .footer-area{
        .section-title{
            margin-top: 5%;
            margin-bottom: 10%;
        }
      }  
    }
  @media(min-width:1700px) and (max-width:1800px){
      .footer-area{
        .section-title{
            margin-top: 5%;
            margin-bottom: 10%;
        }
        
        .footer-content {
            margin-top: 40%;
        }
      } 

    }
@media(min-width:1800px) and (max-width:1900px){
    .footer-area{
        .section-title{
            margin-top: 5%;
            margin-bottom: 13%;
        }
        .footer-content {
            margin-top: 42%;
        }
    }  


}
@media(min-width:2100px) and (max-width:2400px){
.footer-area{
    .section-title{
        margin-top: 7%;
        margin-bottom: 20%;
    }
    .footer-content {
        margin-top: 48%;
    }
}  
}
@media(min-width:2400px) and (max-width:2600px){
.footer-area{
    .section-title{
        margin-top: 7%;
        margin-bottom: 20%;
    }
    .footer-content {
        margin-top: 55%;
    }
}  
}
@media(min-width:2600px) and (max-width:2890px){
.footer-area{
    .section-title{
        margin-top: 7%;
        margin-bottom: 20%;
    }
    .footer-content {
        margin-top: 70%;
    }
}  
}
@media(min-width:2900px) and (max-width:3300px){
  .footer-area{
    .section-title{
        margin-top: 10%;
        margin-bottom: 30%;
    }
    
    .footer-content {
        margin-top: 75%;
    }
  }  
}
@media(min-width:3300px) {
  .footer-area{
    .section-title{
        margin-top: 10%;
        margin-bottom: 35%;
    }
    
    .footer-content {
        margin-top: 75%;
    }
  }  
}
