.hero{
    &-area{
        padding-top: 18%;
        padding-bottom: 30%;
        position: relative;
        z-index: 2;
        @include sm{
            padding-top: 150px;
            padding-bottom: 100px;
        }
        .hero-Bg{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            & img{
                height: 100%;
            }
            @include sm{
                height: 60%;
            }
        }
    }
    &-content{
        .heading{
            display: inline-block;
            position: relative;
            width: max-content;
            .heading-img1{
                position: absolute;
                top: 50px;
                left: -8px;
            }
            .heading-img2{
                position: absolute;
                bottom: 10px;
                right: -60px;
                @include sm{
                    max-width: 60px;
                    bottom: 20px;
                    right: -30px;
                }
            }
        }
        h1{
           color: $white;
           text-shadow: 8px 6px $black;
        }
        p{
            @include font-28;
            margin-bottom: 30px;
            color: $white;
            text-shadow: 2px 4px $black;
        }
        .btns{
            a{
                margin-right: 27px;
            }
        }
        .socials{
            margin-left: 0;
            li{
                display: inline-block;
                a{
                    border-radius: 53.031px;
                    border: 2.153px solid $black;
                    background: $_1F650B; 
                    padding: 11px;
                    margin-right: 10px;
                    width: 53px;
                    height: 53px;
                    display: flex;
                    @include sm{
                        margin-right: 0;
                    }
                }
                &:hover a{
                    border-color: $white;
                }
            }
        }
        & .copy{
            h5{
               @include font-18;
               margin-top: 30px;
            }
        }
    }
}